.usa-btn{
  @extend .btn;
  height: auto;
  text-align:center;
  transition:all .3s ease-in-out;
  white-space: normal;
  word-wrap: break-word;
}
.usa-btn-primary{
  @extend .btn-primary;
  font-size: 100%;
  line-height: 1em;
  padding: 0.5em 1.8em;
  border-radius: 20px;
  background-color: transparent;
  border:2px solid $light-blue;
  color: $dark-blue;
  &:hover, &:focus, &:active{
    color: #ffffff !important;
    background-color: $dark-blue;
    border:2px solid $btn-border;
  }


}
.usa-btn-secondary{
  @extend .btn-primary;
  font-size: 100%;
  line-height: 1em;
  padding: 0.5em 1.8em;
  border-radius: 20px;
  color: #fff;
  border: 2px solid $btn-border-lt;
  background-color: transparent;
  &:hover, &:focus, &:active{
    color: #ffffff;
    background-color: transparent;
    border:2px solid #158096;
  }
}

.usa-language-btn{
  margin:1em 0;
}

.usa-btn-footer{
  color: #041A2B;
  border: 2px solid $btn-color;
  background-color: $btn-color;
}

.usa-view-more{
  text-align: center;
  margin: 2em 0 0;
  //font-size: 1.125em;
  font-size:112.5%;
}

.link-underline a{
  border-bottom: 1px solid #125080;
  box-shadow: inset 0 -1px 0 rgba(#125080, 0.75);
  color: inherit;
  text-decoration:none;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);

  &:hover{
    background: #b4e7f8;
    color:#232323;
  }

  &:focus{
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:0.2em;
  }
}

.back-to-top { position: absolute; bottom: 20px; right: 30px; text-align: right; font-size: 13px; }
.footer .back-to-top { color: #28c1e1; border-bottom: 1px solid rgba(35, 193, 224, 0.75); box-shadow: inset 0 -1px 0 rgba(35, 193, 224, 0.75);
  &:hover { background: rgba(40, 193, 225, .6); color: #fff; text-decoration: none; }
}

@media only screen and (max-width: 500px) {
    .back-to-top { &:hover, &:focus, &:active { background-color: lightblue; } }
    .footer .back-to-top { position: relative; float: right; bottom: initial; right: initial; margin-right: 30px; float: right; margin-top: 15px; }
}
