$accent-color: #D84A4A;

$dark-blue: #0b385a;
$medium-blue: #295173;
$light-blue: #28c1e1;
$xlight-blue:#59d2e7;
$off-white: #FBFBFB;

$btn-color: #28c1e1;
$btn-border: #03728A;
$btn-border-lt:$xlight-blue;
