html,body{
  font-size:15px;
  line-height:1.875em;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
}

h1{
  font-size:240%;
}
h2{
  font-size:187.5%;
}
h3{
  font-size:160%;
}
h4{
  font-size:120%;
}
h5{
  font-size:93%;
}
h6{
  font-size:80%;
}

.lead{
  //font-size:21px;
  font-size:140%;
}

.text-gov{
  margin-left:-0.25em;
}
